@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-04 11:07:45
 * @version $Id$
 */
 html,body{height:100%;}
 body,p{margin:0;padding:0; font-family: "宋体"}
 .container{width:100%;height:100%; background: url("../img/500bg_03.png") no-repeat  #0a75c0 center top ;  text-align:center; }
 .content{margin:0 auto;width:394px;padding-top:40px;}
 .content p {font-size:24px; text-align: left;color:#fff; letter-spacing: 2px; line-height: 50px;padding-left:40px;}
 .content p a{color:#fce702;}
 .footer{position: fixed;bottom:0;width:100%;height:100px; background:#8f9ea5; }
 .footer p{font-size:12px; line-height: 24px; text-align: center;color:#fff;}
 .mt45{margin-top:30px;}

 
